{% extends 'base.html' %}
{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <div class="row">
        <div class="left">
            <br><br><div id="map"></div>
        </div>

        <div class="right">
            <div class="filters">
                <br><h2>Фильтры</h2>
                <form action="/hotels" method="POST">
                    <input type="number" min="1" id="radius_km" name="radius_km" placeholder="Радиус (в км)" /><br>
                    <input type="date" id="date_in" name="date_in" placeholder="Время въезда" />Время въезда<br>
                    <input type="date" id="date_out" name="date_out" placeholder="Время отъезда" />Время отъезда<br>
                    <input type="number" min="0" id="adults" name="adults" placeholder="Количество взрослых" /><br>
                    <input type="number" min="0" id="childrens" name="childrens" placeholder="Возраст ребёнка" /><br>
                    
                    <div class="stars">
                        <input type="checkbox" id="0" name="0" />0<br>
                        <input type="checkbox" id="1" name="1" />1<br>
                        <input type="checkbox" id="2" name="2" />2<br>
                        <input type="checkbox" id="3" name="3" />3<br>
                        <input type="checkbox" id="4" name="4" />4<br>
                        <input type="checkbox" id="5" name="5" />5<br>
                    </div>
                    
                    <div class="mealtype">
                        <input type="checkbox" id="nomeal" name="nomeal" />Без питания<br>
                        <input type="checkbox" id="breakfast" name="breakfast" />Завтрак<br>
                        <input type="checkbox" id="halfboard" name="halfboard" />Завтрак + обед/ужин<br>
                        <input type="checkbox" id="fullboard" name="fullboard" />Завтрак + обед + ужин<br>
                        <input type="checkbox" id="allinclusive" name="allinclusive" />Всё включено<br>
                    </div>         

                    <div class="price">
                        <input type="text" min="100" max="99999" id="min_price" name="min_price" placeholder="Минимальная цена" />
                        <input type="text" onchange="setMinValue()" max="100000" id="max_price" name="max_price" placeholder="Максимальная цена" />
                        <script>
                            function setMinValue() {
                              var input1 = document.getElementById("min_price");
                              var input2 = document.getElementById("max_price");

                              input2.min = input1.value;
                            }
                          </script>
                    </div>

                    <input type="checkbox" id="has_wifi" name="has_wifi" />Есть Wi-Fi<br>
                    <input type="checkbox" id="has_parking" name="has_parking" />Есть парковка<br>
                    <input type="checkbox" id="has_pool" name="has_pool" />Есть бассейн<br>
                    <input type="checkbox" id="air_conditioning" name="air_conditioning" />Есть кондиционер<br>
                    <input type="checkbox" id="has_pets" name="has_pets" />Можно с животными<br>
                    <input type="checkbox" id="has_airport_transfer" name="has_airport_transfer" />Есть трансфер<br>
                    <input type="checkbox" id="has_meal" name="has_meal" />Есть ресторан<br>
                    <input type="submit" value="Применить фильтры" /><br>
                </form>
            </div>
        </div>
    </div>

    <script>
        var map = L.map('map', {
            center: [51.517327, -0.120005],
            zoom: 1.5,
        });

        const basemaps = { 
            StreetView: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }),
            Topography: L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
                layers: 'TOPO-WMS'
            }),
            Places: L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
                layers: 'OSM-Overlay-WMS'
            })
        };

        L.control.layers(basemaps).addTo(map);
        basemaps.Topography.addTo(map);
        L.control.scale().addTo(map);

        var marker;

        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker(e.latlng).addTo(map);
        });

        var searchControl = new L.esri.Controls.Geosearch().addTo(map);
        var results = new L.LayerGroup().addTo(map);

            searchControl.on('results', function(data){
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
                results.addLayer(L.marker(data.results[i].latlng));
            }
        });
    </script>

    <style>
        .row {
            display: flex;
            width: 95%
        }

        .left {
            width: 75%
        }

        .right {
            width: 25%
        }

        #map {
            height: 500px;
            width: 90%;
        }

        .stars{
            display: flex;

        }

        .price {
            display: flex;
        }
    </style>

{% endblock %}