{% extends 'base.html' %}
{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <div class="row">
        <div class="left">
            <br><br><div id="map"></div>
        </div>

        <div class="right">
            <div class="filters">
                <br><h2>Фильтры</h2>
                <form action="/hotels" method="post">
                    <input type="text" id="country" placeholder="Страна"><br>
                    <input type="text" id="city" placeholder="Город"><br>
                    <input type="number" id="radius_km" placeholder="Радиус (в км)"><br>
                    <input type="date" id="date_in" placeholder="Время въезда">Время въезда<br>
                    <input type="date" id="date_out" placeholder="Время отъезда">Время отъезда<br>
                    <input type="number" id="adults" placeholder="Количество взрослых"><br>
                    <input type="number" id="childrens" placeholder="Возраст ребёнка"><br>
                    
                    <div class="stars">
                        <input type="checkbox" id="0">0<br>
                        <input type="checkbox" id="1">1<br>
                        <input type="checkbox" id="2">2<br>
                        <input type="checkbox" id="3">3<br>
                        <input type="checkbox" id="4">4<br>
                        <input type="checkbox" id="5">5<br>
                    </div>
                    
                    <input type="checkbox" id="nomeal">Без питания<br>
                    <input type="checkbox" id="breakfast">Завтрак<br>
                    <input type="checkbox" id="halfboard">Завтрак + обед/ужин<br>
                    <input type="checkbox" id="fullboard">Завтрак + обед + ужин<br>
                    <input type="checkbox" id="allinclusive">Всё включено<br>

                    <div class="price">
                        <input type="text" id="min_price" placeholder="Минимальная цена">
                        <input type="text" id="max_price" placeholder="Максимальная цена">
                    </div>

                    <input type="checkbox" id="has_wifi">Есть Wi-Fi<br>
                    <input type="checkbox" id="has_parking">Есть парковка<br>
                    <input type="checkbox" id="has_pool">Есть бассейн<br>
                    <input type="checkbox" id="air-conditioning">Есть кондиционер<br>
                    <input type="checkbox" id="has_pets">Можно с животными<br>
                    <input type="checkbox" id="has_airport_transfer">Есть трансфер<br>
                    <input type="checkbox" id="has_meal">Есть ресторан<br>
                    <input type="submit" value="Применить фильтры"><br>
                </form>
            </div>
        </div>
    </div>

    <script>
        var map = L.map('map', {
            center: [51.517327, -0.120005],
            zoom: 1.5,
        });

        const basemaps = { 
            StreetView: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }),
            Topography: L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
                layers: 'TOPO-WMS'
            }),
            Places: L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
                layers: 'OSM-Overlay-WMS'
            })
        };

        L.control.layers(basemaps).addTo(map);
        basemaps.Topography.addTo(map);
        L.control.scale().addTo(map);

        var searchControl = new L.esri.Controls.Geosearch().addTo(map);

        var results = new L.LayerGroup().addTo(map);

            searchControl.on('results', function(data){
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
                results.addLayer(L.marker(data.results[i].latlng));
            }
        });
    </script>

    <style>
        .row {
            display: flex;
            width: 95%
        }

        .left {
            width: 75%
        }

        .right {
            width: 25%
        }

        #map {
            height: 500px;
            width: 90%;
        }

        .stars{
            display: flex;

        }

        .price {
            display: flex;
        }
    </style>

{% endblock %}