{% extends 'base.html' %}
{% block head %}
<script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="{{BOTNAME}}" data-size="large" data-auth-url="{{BOTDOMAIN}}/login" data-request-access="write"></script>
{% endblock %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
<form method="POST">
    <div class="login-page">
        <div class="form">
            <a href="https://oauth.telegram.org/auth?bot_id={{BOTID}}&origin={{BOTDOMAIN}}" class="telegram">
                <i class="fa fa-telegram fa-fw"></i> Войти с помощью Telegram
            </a>
        </div>
    </div>
</form>

<style>
    .login-page {
        width: 50%;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #343a40;
        max-width: 500px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
    }

    input:hover,
    .btn:hover {
        opacity: 1;
        background: #71b8ee;
    }

    .telegram {
        background-color: #55ACEE;
        color: white;
        text-align: center;
        display: block;
        margin: auto;
        width: 75%;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        word-wrap: break-word;
    }
</style>
{% endblock %}